.picker-container {
    float: left;
    width: 100%;
    min-width: 320px;
}

.picker-container .picker {
    float: left;
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding: 0;
    overflow: hidden;
}

.picker-container .picker .img-container {
    float: left;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.picker-container .picker .img-container img, .picker-container .picker .img-container span.font-text {
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 13px;
    text-align: center;
}

.picker-container .picker .title {
    float: left;
    width: calc(100% - 80px);
    height: 40px;
    line-height: 40px;
    padding: 0 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.picker-container .picker button {
    float: right;
    width: 40px;
    height: 40px;
    margin: 0; padding: 0;
    border: none;
    outline: none;
    cursor: pointer;
}

.picker-container .icon {
    opacity: 0.5;
}