.grid-picker {
    float: left;
    width: 100%;
    min-width: 320px;
}

.grid-picker .picker {
    float: left;
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding: 0;
    overflow: hidden;
}

.grid-picker .picker .img-container {
    float: left;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-picker .picker .img-container img, .grid-picker .picker .img-container span.font-text, .grid-picker .picker .img-container .swatch {
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 13px;
    text-align: center;
}

.grid-picker .picker .img-container .swatch {
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 50%;
    box-shadow: (--boxShadow);
}

.grid-picker .picker .title {
    float: left;
    width: calc(100% - 80px);
    height: 40px;
    line-height: 40px;
    padding: 0 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    user-select: none;
}

.grid-picker .picker button {
    float: right;
    width: 40px;
    height: 40px;
    margin: 0; padding: 0;
    border: none;
    outline: none;
    cursor: pointer;
}

.grid-picker .icon {
    color: var(--primaryColor);
    opacity: 0.5;
}

.color-picker-wrapper {
    background: white;
    position: absolute;
    top: 0; left: 0;
    z-index: 999;
    border-bottom-left-radius: 2.5px;
    border-bottom-right-radius: 2.5px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.3);
}