.list {
    background: var(--backgroundPopUp);
    position: absolute;
    width: 320px;
    overflow: scroll;
    z-index: 999;
    border-bottom-left-radius: 2.5px;
    border-bottom-right-radius: 2.5px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.3);
}

.list span {
    background: var(--background);
    float: left;
    width: 100%;
    height: 40px;
    line-height: 40px;
    user-select: none;
    cursor: pointer;
}