.timeline {
    float: left;
    width: 200px;
    height: 100%;
    background: red;
    overflow: scroll;
}

.timeline-month-container {
    float: left;
    width: 100%;
    height: 0px;
    background: orange;
    overflow: hidden;
}

.timeline-month-container.open {
    height: auto;
}

.timeline-display-month.active {
    font-weight: bold;
}
